
.downloadB{
    background-color: rgb(233, 184, 36);
    border: 1px solid rgb(238, 147, 34);
    border-radius: 20px;
    font-family: 'Share Tech Mono', monospace;
    margin-top: 10px;
}



.navBar{
    
    border-bottom: 2px solid black;
}
.navBar ul{
list-style: none;
text-align: center;
vertical-align: middle;

}

.navBar li{
 
    padding: 50px;
    font-family: 'Share Tech Mono', monospace;
    display: inline-block;
    font-weight: bold;
  
}

.navBar a{
    text-decoration: none;
    color: black;
}

.navBar li :hover{
    text-decoration: underline;
}
.card{
    display: inline-block;
    padding: 20px;
    border: 2px solid rgb(238, 147, 34);
    background-color: rgb(233, 184, 36);
}

.nutrientsList{
list-style: none;

}

.nutrientsList h3{
    text-align: center;
  
}

.nutrientsList li{
    display: inline-block;
    padding: 20px;
    font-family: 'Share Tech Mono', monospace;
    
}

.editB{
    border: none;
    background-color:rgb(33, 156, 144);
    margin-right: 10px;
    border-radius: 10px;
}

.addB{
    border: none;
}

.deleteB{
    border: none;
    background-color:rgb(216, 63, 49);
    border-radius: 10px;
}

